/* 1. global config 

    - all margins and paddings set to 0
*/
* {
  margin: 0;
  padding: 0;
}
/* 2. global style
    
    - set all default font family Noto Sans which you can get at google fonts
    - set all the the line spacing to 1.4
    - remove all anchor tag underline
    - set a default margin for all paragraphs to 0.75 for top and bottom and 0 to left and right
*/
html,
body {
  font-family: "Noto Sans";
  line-height: 1.4em;
  background: #fdf6f0;
}
a {
  text-decoration: none;
}
p {
  margin: 0.75em 0;
  margin-right: 30px;
}
.we {
  color: #ff7600;
}
h2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

/* 3. settings

    - create a rule where you can control the maximum width of your content
    while adapting to browser widths
    - create a rule to center all contents under this setting
    - create a rule to set all elements inside of this setting to have
    a "space inside" with a "0" from top and bottom and 32px using the "rem" units
    in left and right
    - and lastly set a rule on overflowing elements inside to hidden.
*/
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 2rem;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 1.2em;
}
.box1,
.box2,
.box3 {
  float: left;
  width: 33.33%;
  overflow: auto;
}

.icon {
  margin-top: 40px;
  margin-right: 10px;
  float: left;
  border: 10px solid #f8e2cf;
  background-color: #f8e2cf;
  border-radius: 50%;
}
/* 
    4.  Collaborative Task for Assessment

    4.1  Your goal is to apply pertinent rules to produce same result(output)
    as what the figure displays in assessment_output.png.

    Color Values
    - #f8e2cf
    - #ff7600
    - #fdf6f0
    - #333
*/